# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Testing / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
hypothesis/
.mypy_cache/
.dmypy.json
.pyre/
.ruff_cache/

# Django
*.log
*.pot
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Environment variables
.env
.env.*
!.env.example

# Virtual environments
env/
venv/
.venv/
ENV/

# IDEs / Editors
.vscode/
.idea/
.history/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Static collected files
staticfiles/

# Celery
celerybeat-schedule

# Sentry / profiling
.prof

# Type checker
.pytype/

# Jupyter
.ipynb_checkpoints/

# Postman
.postman/
postman/